extends layout
block content
  .slant-container.right
    #veil
    - var doAutoplay = inHomeState? true : false
    video(id="gangnamVideo", autoplay=doAutoplay, loop, muted)
      source(src='gangnamStyle.mp4', type='video/mp4')
    if inHomeState
      #tab-content
        .container 
    else
      #tab-content(data-0='background-color:rgb(0,0,0);', data-10p='background-color:rgb(255,255,255);').active
        .container(data-0='color:rgb(255,255,255);', data-10p='color:rgb(0,0,0);').active
          !{tabContent}
  #slant(class=inHomeState? "home" : "")
    .slant-container.left
      #header 
        .vertical-align-container#header-title 
          .vertical-align-content
            .capitalized G
            | ANGNAM
            .capitalized W
            | AVE
        .vertical-align-container#header-container
          mixin headerButton(name)
            - var buttonId = [name, 'button'].join('-')
            - var buttonClass = inHomeState? "home" : ""
            .vertical-align-content.header-button(id=buttonId, class=buttonClass) #{name.toUpperCase()}
          +headerButton('menu')
          //- +headerButton('home')
          //- +headerButton('about')
      .vertical-align-container#title-container(class=inHomeState? "" : "hidden")
        .vertical-align-content#title
          .capitalized G
          | ANGNAM   
          .capitalized W
          | AVE
          .subtitle AMES 471: World of Korean Cinema
    .slant-drawer-container(class=inHomeState? 'hidden' : '')
      .slant-tabs
        +slantTab('introduction', ['INTRODUCTION'])
        +slantTab('who-is-psy', ['WHO IS', 'PSY'])
        +slantTab('masculinity-in-korean-pop-culture', ['MASCULINITY IN', '<br>', 'KOREAN', 'POP', 'CULTURE'])
        +slantTab('korean-masculinity-in-the-us', ['KOREAN', 'MASCULINITY IN THE', 'US'])
        +slantTab('gangnam-goes-viral', ['GANGNAM', 'GOES', 'VIRAL'])
        +slantTab('consequences-of-virality', ['CONSEQUENCES OF', 'VIRALITY'])
        +slantTab('discussion', ['DISCUSSION'])
        +slantTab('conclusion', ['CONCLUSION'])
 

mixin slantTab(name, contents)
  - var hiddenClass = inHomeState? 'hidden' : ''
  - var activeClass = (tabState === name)? 'active' : ''
  - var tabClass = [hiddenClass, activeClass].join(' ').trim()
  if tabState === name
    .slant-tab(data-link=name, data-0='background-color:rgb(0,0,0);', data-10p='background-color:rgb(255,255,255);', class=tabClass)
      .vertical-align-container.slant-tab-container
        .vertical-align-content.slant-tab-content(data-0='color:rgb(255,255,255);', data-10p='color:rgb(0,0,0);')
          each content in contents
            if content.charAt(0) === '<'
              !{content}
            else
              .capitalized= content.charAt(0)
              = content.substring(1, content.length) + ' '
  else
    .slant-tab(data-link=name, class=tabClass)
      .vertical-align-container.slant-tab-container
        .vertical-align-content.slant-tab-content
          each content in contents
            if content.charAt(0) === '<'
              !{content}
            else
              .capitalized= content.charAt(0)
              = content.substring(1, content.length) + ' '


